body {
  overflow: hidden;
  margin: 0;
  color: #ccc;
  background-color: #333;
}

.duo {
  grid-template-areas: "c1" "c2";
}
.trio {
  grid-template-areas: "c1 c2 c3";
}
.square {
  grid-template-areas: "c1 c3" "c2 c4";
}
.quad {
  grid-template-areas: "c1 c3 c2 c4";
}

.block {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 0.3rem;
  border: 1px dashed #ccc;
}

.grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 1em;
}
#container {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
  background-color: #111;
  margin: 5em;
  /* padding: 5em; */
}
#container > :first-child {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #aaa;
  background-image: url(/landscape.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.animated {
  transition: 1s ease;
}
